/* :root{
    background-color: #282C32;
} */

h1{
    display: flex;
    justify-content: center;
    text-align: center;
    /* color: #B0C431 */
}

p{
    /* color: #E4DEE2; */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.packages{
    display: flex;
    justify-content: space-evenly;
}

.package{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.package p{
    margin: 5px;
}

img{
    max-width: 400px;
    width: 100%;
    height: auto;
}